@model IEnumerable<EntityLayer.Concrate.Comment>

@if (Model != null && Model.Any())
{
    <div class="comment-top">
        <h4>Yorumlar</h4>
        @foreach (var item in Model)
        {
            <div class="media">
                <img src="~/CoreBlogTema/images/t1.jpg" alt="" class="img-fluid" />
                <div class="media-body">
                    <h5 class="mt-0">@item.CommentUserName</h5>
                    <p>
                        @item.CommentContent
                    </p>


                </div>
            </div>

        }



    </div>
}
else
{
    <div class="comment-top"><h4>Bu blogta daha önce hiç yorum yapılmadı. İlk yorumu siz yazın!</h4></div>
}
